#messages {
  color: #d3d3d3;
}

.moodColor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.date {
  color: rgba(0,0,0,0.25);
  font-size: 4em;
}

.mood {
  color: rgba(0,0,0,0.5);
  font-size: 2em;
}

.moodGradient {
  position: absolute;
  width: 100%;
  height: 64px;
  bottom: 0;
  left: 0;

  background: rgb(64,64,128); /* Old browsers */
  background: -moz-linear-gradient(left,  rgb(64,64,128) 0%, rgb(255,255,160) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(64,64,128)), color-stop(100%,rgb(255,255,160))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgb(64,64,128) 0%,rgb(255,255,160) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgb(64,64,128) 0%,rgb(255,255,160) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgb(64,64,128) 0%,rgb(255,255,160) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgb(64,64,128) 0%,rgb(255,255,160) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404080', endColorstr='#ffffa0',GradientType=1 ); /* IE6-9 */
}

.badMoodLabel {
  color: white;
  position: absolute;
  top: -5px;
  left: 10px;
}

.goodMoodLabel {
  color: black;
  position: absolute;
  top: -5px;
  right: 10px;
}